@media screen and (min-width: 320px) and (max-width: 480px) {
  .container {
    width: 360px;
    margin: 0 auto;
  }

  body {
    margin: 0 auto;
  }

  .header_base {
    height: 150px;
  }
  .header {
    padding-left: 15px;
    width: 100%;
    /* padding-right: 110px; */
  }
  .left_side {
    padding-top: 15px;
    padding-bottom: 15px;
    max-width: 40%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .header_logo {
    max-width: 50%;
    opacity: 65%;
  }

  .header_title {
    padding-left: 30px;
  }

  .header_title_text {
    font-size: 18px;
    text-align: center;
  }

  .header_nav_base {
    display: none;
  }
  /*КНОПКА БУРГЕР*/
  /*КНОПКА БУРГЕР*/
  /*КНОПКА БУРГЕР*/
  /*КНОПКА БУРГЕР*/
  /*КНОПКА БУРГЕР*/

  .container_burger {
    display: flex;
    width: 40px;
    height: 40px;
    background-color: #a7a7a7;
    position: relative;
    text-align: center;
    color: floralwhite;
    font-family: sans-serif;
  }

  #check_menu {
    display: none;
  }

  label {
    line-height: 40px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 2;
  }

  .burger_line {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 25px;
    height: 3px;
    background-color: rgb(255, 255, 255);
    transition: 0.1s all;
  }

  .two,
  .three {
    top: 18px;
  }

  .four {
    top: 28px;
  }

  .main_menu {
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    transform: translateY(100%);
    max-height: 0;
    font-size: 0;
    overflow: hidden;
    transition: 0.3s all;
  }

  .burger_link {
    font-size: 20px;
    line-height: 35px;
    height: 35px;
    display: block;
    width: 100%;
    color: white;
    text-decoration: none;
    border-top: 1px solid rgba(231, 231, 231, 0.3);
    background-color: #a7a7a7;
  }

  #check_menu:checked ~ .main_menu {
    max-height: 200px;
    width: 210px;
    font-size: 18px;
    transform: translate(-170px, 144px);
  }

  #check_menu:checked ~ .one {
    display: none;
  }

  #check_menu:checked ~ .two {
    transform: rotate(45deg);
  }

  #check_menu:checked ~ .three {
    transform: rotate(-45deg);
  }

  #check_menu:checked ~ .four {
    display: none;
  }

  /*КНОПКА БУРГЕР КОНЕЦ*/
  /*КНОПКА БУРГЕР КОНЕЦ*/
  /*КНОПКА БУРГЕР КОНЕЦ*/
  /*КНОПКА БУРГЕР КОНЕЦ*/
  /*КНОПКА БУРГЕР КОНЕЦ*/

  .advantages {
    display: none;
  }

  .search_area {
    height: 50px;
    width: 70%;
    font-size: 14px;
  }

  .button_search {
    font-size: 16px;
  }

  .card {
    margin-top: 15px;
    width: 47%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(177, 177, 177);
    padding-bottom: 10px;
  }

  .card_name {
    font-size: 19px;
    margin-bottom: 15px;
  }

  .desc {
    font-size: 18px;
    font-weight: 200;
    letter-spacing: 0.01em;
    margin: 0;
  }

  .part-2 {
    width: 360px;
    padding-left: 0;
    padding-right: 0;
    display: flex;
    flex-direction: column;
  }

  .special {
    display: flex;
    margin-bottom: 40px;
  }

  .special_title {
    text-align: center;
    font-family: "Segoe UI", sans-serif;
    color: #464646;
    font-style: normal;
    font-size: 40px;
    font-weight: 100;
    letter-spacing: 0.03em;
    margin: 0;
    padding-bottom: 15px;
  }

  .special_pic1 {
    display: none;
    opacity: 55%;
    object-fit: cover;
    height: 250px;
  }

  .special_pic1:hover {
    transition-duration: 0.3s;
    opacity: 100%;
  }

  .special_text {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    font-family: "Segoe UI", sans-serif;
    color: #464646;
    font-style: normal;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.03em;
    margin: 0;
  }

  .part-3 {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 250px;
    margin-bottom: 50px;
  }

  .part-3__title {
    font-family: "Segoe UI", sans-serif;
    color: #464646;
    font-style: normal;
    font-size: 26px;
    font-weight: 100;
    letter-spacing: 0.03em;
    margin: 0;
    padding-bottom: 15px;
  }

  .part-3__subtitle {
    font-family: "Segoe UI", sans-serif;
    color: #383838;
    font-style: normal;
    font-size: 26px;
    font-weight: 400;
    letter-spacing: 0.01em;
    margin: 0;
    padding-bottom: 15px;
  }

  .part-3__text-area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .part-3__input {
    height: 35px;
    width: 85%;
    text-align: center;
    border: none;
    font-family: "Segoe UI", sans-serif;
    color: #686868;
    font-style: normal;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.01em;
  }

  .part-3__input:focus {
    outline: none;
  }

  .part-3__input:active::placeholder {
    display: none;
  }

  .part-3__input-button {
    margin-top: 10px;
    height: 35px;
    margin-left: 0;
    background-color: rgb(195, 241, 255);
    border: none;
    border-radius: none;
    font-family: "Segoe UI", sans-serif;
    font-style: normal;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0.01em;
    transition-duration: 0.1s;
    transition-duration: 0.1s;
    cursor: pointer;
    color: #585858;
  }

  .part-3__input-button:hover {
    background-color: rgb(152, 193, 255);
  }

  .part-3__input-button:focus {
    outline: none;
  }

  .part-3__input-button:active {
    background-color: rgb(144, 205, 255);
    transition-duration: 0.05s;
  }

  .footer {
    overflow: hidden;
    background-color: rgb(133, 206, 255);
    height: 850px;
  }

  .footer-wrap {
    width: inherit;
    margin: 0;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
  }

  .footer__logo-text {
    padding-left: 55px;
    display: flex;
    align-items: start;
    flex-direction: column;
    width: 100px;
    margin-bottom: 30px;
  }

  .footer__logo-text span {
    padding-left: 14px;
    font-family: "Segoe UI", sans-serif;
    color: #5f5f5f;
    font-style: normal;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 0.01em;
    margin: 0;
  }

  .footer__logo {
    max-width: 100%;
    opacity: 65%;
  }

  .footer__list {
    margin-bottom: 30px;
    text-align: center;
    padding: 10px;
    list-style-type: none;
    font-family: "Segoe UI", sans-serif;
    color: #464646;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.01em;
  }

  .footer__el {
    padding-bottom: 10px;
  }

  .footer__el.main {
    height: 20px;
    padding-bottom: 20px;
    font-family: "Segoe UI", sans-serif;
    color: #464646;
    font-style: normal;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.01em;
    margin: 0;
  }

  .footer__item-5 {
    padding-left: 15px;
    display: flex;
    flex-wrap: wrap;
    width: 150px;
  }

  .footer__list-5 {
    padding: 0;
    text-align: center;
    margin: 0;
    list-style-type: none;
  }

  .footer .footer__list-icons {
    padding-left: 20px;
    padding-top: 15px;
    margin: 0;
    display: flex;
    list-style-type: none;
  }

  .footer__el-icon {
    height: 30px;
    width: 30px;
    padding-right: 20px;
  }

  .footer__vk {
    opacity: 70%;
    transform: scale(1.6);
  }

  .footer__twitter {
    opacity: 70%;
    transform: scale(1.1);
  }

  .footer__insta {
    opacity: 70%;
    transform: scale(1.1);
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .container {
    width: 1024px;
  }
  .left_side {
    max-width: 50%;
  }
  .header_title_text {
    font-size: 20px;
  }
  .card {
    width: 33%;
  }
  .part-2 {
    padding-left: 25px;
    padding-right: 0;
    width: 950px;
    margin: 0;
  }
  .special_pic1 {
    transform: scale(0.9);
  }
  .special_text {
    font-size: 18px;
  }
  .part-3 {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .container {
    width: 768px;
  }

  .header {
    justify-content: space-around;
  }

  .left_side {
    max-width: 40%;
  }

  .header_logo {
    max-width: 25%;
  }

  .header_nav_base {
    width: 60%;
  }

  .header_title_text {
    font-size: 17px;
  }

  .nav_text {
    padding-right: 5px;
    font-size: 17px;
    font-weight: 400;
  }

  .search_area {
    width: 50%;
  }

  .card {
    width: 29%;
  }
  .part-2 {
    padding-left: 25px;
    padding-right: 0;
    width: 700px;
    margin: 0;
  }
  .special_pic1 {
    transform: scale(0.85);
  }
  .special_text {
    font-size: 17px;
  }
  .part-3 {
    margin-bottom: 0px;
  }

  .part-3__input {
    width: 50%;
  }

  .footer {
    height: 400px;
  }

  .footer__logo-text {
    opacity: 80%;
    padding-left: 50px;
    padding-top: 5px;
    width: 125px;
  }

  .footer__logo-text span {
    font-size: 35px;
  }

  .footer__item-1,
  .footer__item-2,
  .footer__item-3,
  .footer__item-4,
  .footer__item-5 {
    width: 33%;
  }

  .footer-wrap {
    flex-wrap: wrap;
    justify-content: center;
  }

  .footer__list-icons {
    padding-left: 20px;
    transform: scale(1.5);
  }
}

@media screen and (min-width: 480px) and (max-width: 576px) {
  .container {
    width: 576px;
  }

  .header {
    justify-content: space-around;
  }

  .left_side {
    max-width: 30%;
  }

  .header_logo {
    max-width: 35%;
  }

  .header_nav_base {
    width: 70%;
  }

  .header_title_text-small {
    display: block;
    font-family: "Segoe UI", sans-serif;
    color: #5f5f5f;
    opacity: 80%;
    font-style: normal;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.01em;
    margin: 0;
  }

  .header_title_text {
    display: none;
    font-size: 15px;
  }

  .nav_text {
    padding-right: 5px;
    font-size: 15px;
    font-weight: 400;
  }

  .search_area {
    width: 50%;
  }

  .card {
    width: 27%;
  }
  .part-2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 5px;
    padding-right: 0;
    width: 570px;
    margin: 0;
  }

  .special_title {
    font-size: 35px;
    text-align: center;
  }

  .special {
    flex-direction: column;
  }

  .special_pic1 {
    transform: scale(0.8);
  }
  .special_text {
    padding-left: 5px;
    text-align: center;
    font-size: 16px;
    padding-right: 10px;
  }
  .part-3 {
    margin-bottom: 0px;
  }

  .part-3__subtitle {
    font-size: 22px;
  }

  .part-3__input {
    width: 50%;
  }

  .footer {
    height: 400px;
  }

  .footer__logo-text {
    opacity: 80%;
    padding-left: 50px;
    padding-top: 5px;
    width: 125px;
  }

  .footer__logo-text span {
    font-size: 35px;
  }

  .footer__item-1,
  .footer__item-2,
  .footer__item-3,
  .footer__item-4,
  .footer__item-5 {
    width: 33%;
  }

  .footer-wrap {
    flex-wrap: wrap;
    justify-content: center;
  }

  .footer__list-icons {
    padding-left: 20px;
    transform: scale(1.5);
  }
}
